# Configuration file

"balance settings" {
    I:bagStackSize=512
    D:bitLightPercentage=6.25
    B:blacklistTickingBlocks=true
    B:compatabilityMode=true
    B:damageTools=true
    I:diamondChiselUses=796480
    I:diamondSawUses=7980
    B:enableBitLightSource=true
    B:enableChiselToolHarvestCheck=true
    S:enableChiselToolHarvestCheckTools=pickaxe,axe,shovel
    B:enableSetBitCommand=false
    B:enableToolHarvestLevels=true
    B:fullBlockCrafting=true
    I:goldChiselUses=1024
    I:ironChiselUses=293440
    D:maxDrawnRegionSize=4.0
    B:requireBagSpace=false
    I:stoneChiselUses=8384
    B:voidExcessBits=false
    I:wrenchUses=1888
}


"client performance settings" {
    B:defaultToDynamicRenderer=false
    I:dynamicMaxConcurrentTessalators=32
    I:dynamicModelFaceCount=40
    B:dynamicModelMinimizeLatancy=true
    I:dynamicModelRange=128
    B:dynamicRenderFullChunksOnly=true
    B:forceDynamicRenderer=false
    I:maxMillisecondsPerBlock=10
    I:maxMillisecondsUploadingPerFrame=15
    I:minimizeLatancyMaxTime=100
    S:useVBO=AUTOMATIC
}


"client settings" {
    B:addBrokenBlocksToCreativeClipboard=true
    B:chatModeNotification=false
    I:creativeClipboardSize=32
    B:displayMeasuringTapeInChat=false
    B:enableChiselMode_ConnectedMaterial=true
    B:enableChiselMode_ConnectedPlane=true
    B:enableChiselMode_DrawnRegion=true
    B:enableChiselMode_LargeCube=true
    B:enableChiselMode_Line=true
    B:enableChiselMode_MediumCube=true
    B:enableChiselMode_Plane=true
    B:enableChiselMode_SameMaterial=true
    B:enableChiselMode_SmallCube=true
    B:enableChiselMode_Snap2=true
    B:enableChiselMode_Snap4=true
    B:enableChiselMode_Snap8=true
    B:enablePositivePatternMode_Additive=true
    B:enablePositivePatternMode_Impose=true
    B:enablePositivePatternMode_Placement=true
    B:enablePositivePatternMode_Replace=true
    B:enableRightClickModeChange=false
    B:enableTapeMeasure_Bit=true
    B:enableTapeMeasure_Block=true
    B:enableTapeMeasure_Distance=true
    B:enableToolbarIcons=true
    B:fluidBitsAreClickThrough=true
    B:invertBitBagFullness=false
    B:itemNameModeDisplay=true
    I:maxTapeMeasures=5
    I:maxUndoLevel=32
    B:perChiselMode=true
    B:persistCreativeClipboard=true
    D:radialMenuVolume=0.10000000149011612
    B:showUsage=true
}


crafting {
    B:enableChiselCrafting=true
    B:enableNegativePrintInversionCrafting=true
    B:enablePositivePrintCrafting=true
    B:enableStackableCrafting=true
}


"enabled blocks" {
    B:biomesoplenty.common.block.BlockBOPAsh=true
    B:biomesoplenty.common.block.BlockBOPBiomeBlock=true
    B:biomesoplenty.common.block.BlockBOPCrystal=true
    B:biomesoplenty.common.block.BlockBOPGem=true
    B:biomesoplenty.common.block.BlockBOPGemOre=true
    B:biomesoplenty.common.block.BlockBOPGeneric=true
    B:biomesoplenty.common.block.BlockBOPHive=true
    B:biomesoplenty.common.block.BlockBOPPlanks=true
    B:biomesoplenty.common.block.BlockBOPWhiteSand=true
    B:biomesoplenty.common.block.BlockBOPWhiteSandstone=true
    B:com.bobmowzie.mowziesmobs.server.block.BlockPaintedAcacia=true
    B:com.ezzadawi.avataraddonmod.blocks.MetalBlock=true
    B:com.ezzadawi.avataraddonmod.blocks.MetalOre=true
    B:com.github.alexthe666.iceandfire.block.BlockDragonBone=true
    B:com.github.alexthe666.iceandfire.block.BlockDragonOre=true
    B:com.github.alexthe666.iceandfire.block.BlockDragonScales=true
    B:com.github.alexthe666.iceandfire.block.BlockDreadBase=true
    B:com.github.alexthe666.iceandfire.block.BlockDreadStoneFace=true
    B:com.github.alexthe666.iceandfire.block.BlockDreadWoodLock=true
    B:com.github.alexthe666.iceandfire.block.BlockDreadWoodLog=true
    B:com.github.alexthe666.iceandfire.block.BlockFallingGeneric=true
    B:com.github.alexthe666.iceandfire.block.BlockFallingReturningState=true
    B:com.github.alexthe666.iceandfire.block.BlockGeneric=true
    B:com.github.alexthe666.iceandfire.block.BlockMyrmexResin=true
    B:com.github.alexthe666.iceandfire.block.BlockSeaSerpentScales=true
    B:com.jaquadro.minecraft.storagedrawers.block.BlockTrim=true
    B:com.mcwbridges.kikoz.objects.blocks.RailBridge=true
    B:com.pam.harvestcraft.blocks.blocks.BeeBlock=true
    B:com.pam.harvestcraft.blocks.blocks.WellBlock=true
    B:com.teammetallurgy.atum.blocks.BlockAtumOres=true
    B:com.teammetallurgy.atum.blocks.BlockMarl=true
    B:com.teammetallurgy.atum.blocks.linen.BlockLinen=true
    B:com.teammetallurgy.atum.blocks.stone.alabaster.BlockAlabaster=true
    B:com.teammetallurgy.atum.blocks.stone.alabaster.BlockAlabasterBricks=true
    B:com.teammetallurgy.atum.blocks.stone.ceramic.BlockCeramic=true
    B:com.teammetallurgy.atum.blocks.stone.khnumite.BlockKhnumite=true
    B:com.teammetallurgy.atum.blocks.stone.khnumite.BlockKhnumiteFace=true
    B:com.teammetallurgy.atum.blocks.stone.khnumite.BlockKhnumiteRaw=true
    B:com.teammetallurgy.atum.blocks.stone.limestone.BlockLimestone=true
    B:com.teammetallurgy.atum.blocks.stone.limestone.BlockLimestoneBricks=true
    B:com.teammetallurgy.atum.blocks.stone.limestone.BlockLimestoneGravel=true
    B:com.teammetallurgy.atum.blocks.stone.porphyry.BlockPorphyry=true
    B:com.teammetallurgy.atum.blocks.stone.porphyry.BlockPorphyryBricks=true
    B:com.teammetallurgy.atum.blocks.wood.BlockAtumPlank=true
    B:exterminatorjeff.undergroundbiomes.common.block.IgneousBrick=true
    B:exterminatorjeff.undergroundbiomes.common.block.IgneousClay=true
    B:exterminatorjeff.undergroundbiomes.common.block.IgneousCobble=true
    B:exterminatorjeff.undergroundbiomes.common.block.IgneousGravel=true
    B:exterminatorjeff.undergroundbiomes.common.block.IgneousMonsterStone=true
    B:exterminatorjeff.undergroundbiomes.common.block.IgneousMossyCobble=true
    B:exterminatorjeff.undergroundbiomes.common.block.IgneousOvergrown=true
    B:exterminatorjeff.undergroundbiomes.common.block.IgneousOvergrownSnowed=true
    B:exterminatorjeff.undergroundbiomes.common.block.IgneousSand=true
    B:exterminatorjeff.undergroundbiomes.common.block.IgneousSandstone=true
    B:exterminatorjeff.undergroundbiomes.common.block.IgneousSandstoneChiseled=true
    B:exterminatorjeff.undergroundbiomes.common.block.IgneousSandstoneSmooth=true
    B:exterminatorjeff.undergroundbiomes.common.block.IgneousStone=true
    B:exterminatorjeff.undergroundbiomes.common.block.MetamorphicBrick=true
    B:exterminatorjeff.undergroundbiomes.common.block.MetamorphicClay=true
    B:exterminatorjeff.undergroundbiomes.common.block.MetamorphicCobble=true
    B:exterminatorjeff.undergroundbiomes.common.block.MetamorphicGravel=true
    B:exterminatorjeff.undergroundbiomes.common.block.MetamorphicMonsterStone=true
    B:exterminatorjeff.undergroundbiomes.common.block.MetamorphicMossyCobble=true
    B:exterminatorjeff.undergroundbiomes.common.block.MetamorphicOvergrown=true
    B:exterminatorjeff.undergroundbiomes.common.block.MetamorphicOvergrownSnowed=true
    B:exterminatorjeff.undergroundbiomes.common.block.MetamorphicSand=true
    B:exterminatorjeff.undergroundbiomes.common.block.MetamorphicSandstone=true
    B:exterminatorjeff.undergroundbiomes.common.block.MetamorphicSandstoneChiseled=true
    B:exterminatorjeff.undergroundbiomes.common.block.MetamorphicSandstoneSmooth=true
    B:exterminatorjeff.undergroundbiomes.common.block.MetamorphicStone=true
    B:exterminatorjeff.undergroundbiomes.common.block.SedimentaryClay=true
    B:exterminatorjeff.undergroundbiomes.common.block.SedimentaryGravel=true
    B:exterminatorjeff.undergroundbiomes.common.block.SedimentaryMonsterStone=true
    B:exterminatorjeff.undergroundbiomes.common.block.SedimentaryMossyCobble=true
    B:exterminatorjeff.undergroundbiomes.common.block.SedimentaryOvergrown=true
    B:exterminatorjeff.undergroundbiomes.common.block.SedimentaryOvergrownSnowed=true
    B:exterminatorjeff.undergroundbiomes.common.block.SedimentarySand=true
    B:exterminatorjeff.undergroundbiomes.common.block.SedimentarySandstone=true
    B:exterminatorjeff.undergroundbiomes.common.block.SedimentarySandstoneChiseled=true
    B:exterminatorjeff.undergroundbiomes.common.block.SedimentarySandstoneSmooth=true
    B:exterminatorjeff.undergroundbiomes.common.block.SedimentaryStone=true
    B:exterminatorjeff.undergroundbiomes.common.block.UBOreIgneous=true
    B:exterminatorjeff.undergroundbiomes.common.block.UBOreMetamorphic=true
    B:exterminatorjeff.undergroundbiomes.common.block.UBOreSedimentary=true
    B:ivorius.reccomplex.block.BlockGenericSolid=true
    B:jaredbgreat.climaticbiome.blocks.BlockIgneous=true
    B:jaredbgreat.climaticbiome.blocks.BlockPeat=true
    B:jaredbgreat.climaticbiome.blocks.BlockPinePlanks=true
    B:jaredbgreat.climaticbiome.blocks.ModBlockFalling=true
    B:net.minecraft.block.Block=true
    B:net.minecraft.block.BlockBone=true
    B:net.minecraft.block.BlockBookshelf=true
    B:net.minecraft.block.BlockClay=true
    B:net.minecraft.block.BlockColored=true
    B:net.minecraft.block.BlockCompressedPowered=true
    B:net.minecraft.block.BlockConcretePowder=true
    B:net.minecraft.block.BlockDirt=true
    B:net.minecraft.block.BlockGlass=true
    B:net.minecraft.block.BlockGlazedTerracotta=true
    B:net.minecraft.block.BlockGlowstone=true
    B:net.minecraft.block.BlockGrass=true
    B:net.minecraft.block.BlockGravel=true
    B:net.minecraft.block.BlockHardenedClay=true
    B:net.minecraft.block.BlockHay=true
    B:net.minecraft.block.BlockIce=true
    B:net.minecraft.block.BlockMelon=true
    B:net.minecraft.block.BlockMycelium=true
    B:net.minecraft.block.BlockNetherBrick=true
    B:net.minecraft.block.BlockNetherrack=true
    B:net.minecraft.block.BlockNewLeaf=true
    B:net.minecraft.block.BlockNewLog=true
    B:net.minecraft.block.BlockObserver=true
    B:net.minecraft.block.BlockObsidian=true
    B:net.minecraft.block.BlockOldLeaf=true
    B:net.minecraft.block.BlockOldLog=true
    B:net.minecraft.block.BlockOre=true
    B:net.minecraft.block.BlockPackedIce=true
    B:net.minecraft.block.BlockPlanks=true
    B:net.minecraft.block.BlockPrismarine=true
    B:net.minecraft.block.BlockQuartz=true
    B:net.minecraft.block.BlockRedSandstone=true
    B:net.minecraft.block.BlockRedstoneLight=true
    B:net.minecraft.block.BlockRedstoneOre=true
    B:net.minecraft.block.BlockRotatedPillar=true
    B:net.minecraft.block.BlockSand=true
    B:net.minecraft.block.BlockSandStone=true
    B:net.minecraft.block.BlockSeaLantern=true
    B:net.minecraft.block.BlockSilverfish=true
    B:net.minecraft.block.BlockSlime=true
    B:net.minecraft.block.BlockSnowBlock=true
    B:net.minecraft.block.BlockSponge=true
    B:net.minecraft.block.BlockStainedGlass=true
    B:net.minecraft.block.BlockStainedHardenedClay=true
    B:net.minecraft.block.BlockStone=true
    B:net.minecraft.block.BlockStoneBrick=true
    B:shadows.fastbench.block.BlockFastBench=true
    B:"team.chisel.Features$33$1"=true
    B:"team.chisel.Features$34$1"=true
    B:"team.chisel.Features$35$1"=true
    B:"team.chisel.Features$51$1"=true
    B:"team.chisel.Features$59$1"=true
    B:"team.chisel.Features$76"=true
    B:"team.chisel.Features$8$1"=true
    B:team.chisel.common.block.BlockCarvable=true
    B:team.chisel.common.block.BlockCarvableCarpet=true
}


"integration settings" {
    B:ShowBitsInJEI=false
    B:enableMCMultipart=true
    B:enableVivecraftCompatibility=false
}


items {
    B:enableBitBag=true
    B:enableBitSaw=true
    B:enableBitTank=true
    B:enableChisledBits=true
    B:enableDiamondChisel=true
    B:enableGoldChisel=true
    B:enableIronChisel=true
    B:enableMirrorPrint=true
    B:enableNegativePrint=true
    B:enablePositivePrint=true
    B:enableStoneChisel=true
    B:enableTapeMeasure=true
    B:enableWoodenWrench=true
}


troubleshooting {
    B:disableCustomVertexFormats=false
    B:enableAPITestingItem=false
    B:enableFaceLightmapExtraction=true
    B:logEligibilityErrors=false
    B:logTileErrors=false
    B:useGetLightValue=true
}


